
extends ../../../templates/master.pug

block content
    h1.title
      a(href='/home') My Forum
    hr
    each category in categorytab
      h3.title
        a(href='/posts') #{category.categoryname}
    hr
    h3.title My Posts:
    br
    each post in mypinposttab
      p < PINNED POST >
      h3.title Title : #{post.p_title}
      if post.loggedin == 'true'
        p
          | |&nbsp
          a(href='/posts/del/'+ post.id) Delete Post
          |  |&nbsp
          a(href='/posts/edit/'+ post.id) Edit Post
          |  |
      p < PID : #{post.id} // Author : #{post.author} ( #{post.email} ) // Date : #{post.p_date} >
      p #{post.p_content}
      hr
    each post in myposttab
      h3.title Title : #{post.p_title}
      if post.loggedin == 'true'
        p
          | |&nbsp
          a(href='/posts/del/'+ post.id) Delete Post
          |  |&nbsp
          a(href='/posts/edit/'+ post.id) Edit Post
          |  |
      p < PID : #{post.id} // Author : #{post.author} ( #{post.email} ) // Date : #{post.p_date} >
      p #{post.p_content}
      hr
