
extends ../../../templates/master.pug

block content
    h1.title
      a(href='/home') My Forum
    hr
    each category in categorytab
      h3.title
        a(href='/posts') #{category.categoryname}

    form(method="POST" action="/posts/pin")
        .field
            .control
                input.input(type="number" placeholder="Insert a Post ID (PID)" name="pid")
        input(type="submit" value="Pin")

    hr
    each post in posttab
      h3.title Title : #{post.p_title}
      p < PID : #{post.id} // Author : #{post.author} ( #{post.email} ) // Date : #{post.p_date} >
      p #{post.p_content}
      hr
